@font-face {
  font-family: "Nanum Garam Yeonkkot";
  font-weight: 50;
  src: url("./nanum_garam_yeonkkot.woff") format("woff");
}

@font-face {
  font-family: "D2Coding";
  font-weight: 50;
  src: url("./D2Coding.woff") format("woff");
}

@font-face {
  font-family: "Maru Buri";
  font-weight: 50;
  src: url("./maru_buri.woff") format("woff");
}

@font-face {
  font-family: "Nanum Gothic";
  font-weight: 50;
  src: url("./nanum_gothic.woff") format("woff");
}
