@font-face {
  font-family: "Nanum Garam Yeonkkot";
  font-weight: 50;
  src: url("./nanum_garam_yeonkkot.woff") format("woff");
}

@font-face {
  font-family: "D2Coding";
  font-weight: 50;
  src: url("./D2Coding.woff") format("woff");
}

@font-face {
  font-family: "Maru Buri";
  font-weight: 50;
  src: url("./maru_buri.woff") format("woff");
}

@font-face {
  font-family: "Nanum Gothic";
  font-weight: 50;
  src: url("./nanum_gothic.woff") format("woff");
}

@font-face {
  font-family: "BMEULJIRO";
  font-weight: 50;
  src: url("./BMEULJIRO.woff") format("woff");
}

@font-face {
  font-family: "BMHANNAAir";
  font-weight: 50;
  src: url("./BMHANNAAir.woff") format("woff");
}

@font-face {
  font-family: "Nanum Barunpen";
  font-weight: 50;
  src: url("./nanum_barunpen.woff") format("woff");
}

@font-face {
  font-family: "Nanum Son";
  font-weight: 50;
  src: url("./nanum_son.woff") format("woff");
}
